In [131]:
# Import Packages
import pandas as pd
from pandas import DataFrame
from sklearn.preprocessing import LabelEncoder

In [132]:
#Load Initial Dataset
df_accident = pd.read_csv('dft-road-casualty-statistics-accident-last-5-years.csv', low_memory=False)

In [133]:
#Display First 5 Rows
df_accident.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,...,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,...,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,...,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,...,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,...,5,4,1,2,0,0,1,1,2,E01001808

In [134]:
df_accident.shape

(562439, 36)

In [135]:
df_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562439 entries, 0 to 562438
Data columns (total 36 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   accident_index                               562439 non-null  object
 1   accident_year                                562439 non-null  int64
 2   accident_reference                           562439 non-null  object
 3   location_easting_osgr                        562306 non-null  float64
 4   location_northing_osgr                       562306 non-null  float64
 5   longitude                                    562296 non-null  float64
 6   latitude                                     562296 non-null  float64
 7   police_force                                 562439 non-null  int64
 8   accident_severity                            562439 non-null  int64
 9   number_of_vehicles                           562439 non-null  int64
 10  number_of_casualties                         562439 non-null  int64
 11  date                                         562439 non-null  object
 12  day_of_week                                  562439 non-null  int64
 13  time                                         562439 non-null  object
 14  local_authority_district                     562439 non-null  int64
 15  local_authority_ons_district                 562439 non-null  object
 16  local_authority_highway                      562439 non-null  object
 17  first_road_class                             562439 non-null  int64
 18  first_road_number                            562439 non-null  int64
 19  road_type                                    562439 non-null  int64
 20  speed_limit                                  562439 non-null  int64
 21  junction_detail                              562439 non-null  int64
 22  junction_control                             562439 non-null  int64
 23  second_road_class                            562439 non-null  int64
 24  second_road_number                           562439 non-null  int64
 25  pedestrian_crossing_human_control            562439 non-null  int64
 26  pedestrian_crossing_physical_facilities      562439 non-null  int64
 27  light_conditions                             562439 non-null  int64
 28  weather_conditions                           562439 non-null  int64
 29  road_surface_conditions                      562439 non-null  int64
 30  special_conditions_at_site                   562439 non-null  int64
 31  carriageway_hazards                          562439 non-null  int64
 32  urban_or_rural_area                          562439 non-null  int64
 33  did_police_officer_attend_scene_of_accident  562439 non-null  int64
 34  trunk_road_flag                              562439 non-null  int64
 35  lsoa_of_accident_location                    562439 non-null  object
dtypes: float64(4), int64(25), object(7)
memory usage: 154.5+ MB

In [136]:
df_accident.describe()

,accident_year,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,day_of_week,...,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag
count,562439.000000,562306.000000,5.623060e+05,562296.000000,562296.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,...,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000
mean,2018.841359,453092.344542,2.791175e+05,-1.239441,52.399317,27.988936,2.780095,1.841149,1.295324,4.113657,...,0.280077,1.111763,2.025557,1.650188,1.378297,0.223919,0.175210,1.324426,1.355663,1.687587
std,1.413635,94486.230396,1.504202e+05,1.384135,1.355003,24.704728,0.446690,0.704657,0.734110,1.929746,...,1.510484,2.349190,1.717887,1.824607,0.955681,1.260399,1.138232,0.468643,0.592823,0.841438
min,2017.000000,64084.000000,1.023500e+04,-7.525273,49.912362,1.000000,1.000000,1.000000,1.000000,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2018.000000,389237.000000,1.754600e+05,-2.161819,51.464992,4.000000,3.000000,1.000000,1.000000,2.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000
50%,2019.000000,459554.500000,2.191370e+05,-1.121003,51.858047,22.000000,3.000000,2.000000,1.000000,4.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000
75%,2020.000000,529434.750000,3.860650e+05,-0.134684,53.368628,45.000000,3.000000,2.000000,1.000000,6.000000,...,0.000000,0.000000,4.000000,1.000000,2.000000,0.000000,0.000000,2.000000,2.000000,2.000000
max,2021.000000,655391.000000,1.209512e+06,1.759641,60.763722,99.000000,3.000000,24.000000,59.000000,7.000000,...,9.000000,9.000000,7.000000,9.000000,9.000000,9.000000,9.000000,3.000000,3.000000,2.000000

In [137]:
# Limiting Data to Birmingham Only
df_accident = df_accident[(df_accident.local_authority_district == 300)]
df_accident.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
55371,2017200141443,2017,200141443,412319.0,295720.0,-1.819712,52.559195,20,3,1,...,1,4,8,2,0,0,1,2,2,E01009451
55372,2017200142150,2017,200142150,403593.0,284702.0,-1.948542,52.460269,20,3,3,...,0,1,8,4,0,0,1,2,2,E01009068
55376,2017200143906,2017,200143906,405762.0,286453.0,-1.916591,52.475992,20,2,1,...,0,4,9,1,0,0,1,1,2,E01033639
55377,2017200144448,2017,200144448,411986.0,286522.0,-1.824954,52.476512,20,2,1,...,0,1,1,1,0,0,1,1,2,E01009341
55380,2017200147014,2017,200147014,407379.0,281580.0,-1.892889,52.432165,20,2,1,...,0,4,2,2,0,0,1,1,2,E01009175

In [138]:
# Limiting Data to Last 10 Years (2011-2021)
df_accident = df_accident[df_accident.accident_year.between(2011, 2021)]
df_accident.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
55371,2017200141443,2017,200141443,412319.0,295720.0,-1.819712,52.559195,20,3,1,...,1,4,8,2,0,0,1,2,2,E01009451
55372,2017200142150,2017,200142150,403593.0,284702.0,-1.948542,52.460269,20,3,3,...,0,1,8,4,0,0,1,2,2,E01009068
55376,2017200143906,2017,200143906,405762.0,286453.0,-1.916591,52.475992,20,2,1,...,0,4,9,1,0,0,1,1,2,E01033639
55377,2017200144448,2017,200144448,411986.0,286522.0,-1.824954,52.476512,20,2,1,...,0,1,1,1,0,0,1,1,2,E01009341
55380,2017200147014,2017,200147014,407379.0,281580.0,-1.892889,52.432165,20,2,1,...,0,4,2,2,0,0,1,1,2,E01009175

In [139]:
# Deleting Unused Columns
df_accident.drop(["accident_index", "accident_reference", "accident_year", "police_force",
                  "did_police_officer_attend_scene_of_accident", "location_easting_osgr", "location_northing_osgr",
                  "local_authority_district", "local_authority_highway", "local_authority_ons_district", "longitude",
                  "junction_control", "second_road_class", "second_road_number",
                  "latitude"], axis=1, inplace=True)
df_accident.head()

,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,first_road_class,first_road_number,road_type,speed_limit,...,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,trunk_road_flag,lsoa_of_accident_location
55371,3,1,1,01/01/2017,1,16:46,6,0,6,30,...,0,1,4,8,2,0,0,1,2,E01009451
55372,3,3,2,02/01/2017,2,09:30,6,0,6,30,...,0,0,1,8,4,0,0,1,2,E01009068
55376,2,1,1,01/01/2017,1,03:17,6,0,2,30,...,0,0,4,9,1,0,0,1,2,E01033639
55377,2,1,1,05/01/2017,5,08:33,6,0,6,30,...,0,0,1,1,1,0,0,1,2,E01009341
55380,2,1,1,16/01/2017,2,17:20,6,0,6,30,...,0,0,4,2,2,0,0,1,2,E01009175

In [140]:
# Extracting Month From Date Column
df_accident[["day", "month", "year"]] = df_accident["date"].apply(lambda x: pd.Series(str(x).split("/")))
df_accident.drop(["day", "year", "date"], axis=1, inplace=True)
df_accident.head()

,accident_severity,number_of_vehicles,number_of_casualties,day_of_week,time,first_road_class,first_road_number,road_type,speed_limit,junction_detail,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,trunk_road_flag,lsoa_of_accident_location,month
55371,3,1,1,1,16:46,6,0,6,30,0,...,1,4,8,2,0,0,1,2,E01009451,01
55372,3,3,2,2,09:30,6,0,6,30,0,...,0,1,8,4,0,0,1,2,E01009068,01
55376,2,1,1,1,03:17,6,0,2,30,3,...,0,4,9,1,0,0,1,2,E01033639,01
55377,2,1,1,5,08:33,6,0,6,30,0,...,0,1,1,1,0,0,1,2,E01009341,01
55380,2,1,1,2,17:20,6,0,6,30,3,...,0,4,2,2,0,0,1,2,E01009175,01

In [141]:
# Extracting Hour From Time Column
df_accident[["hour", "minute"]] = df_accident["time"].apply(lambda x: pd.Series(str(x).split(":")))
df_accident.drop(["time", "minute"], axis=1, inplace=True)
df_accident.head()

,accident_severity,number_of_vehicles,number_of_casualties,day_of_week,first_road_class,first_road_number,road_type,speed_limit,junction_detail,pedestrian_crossing_human_control,...,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,trunk_road_flag,lsoa_of_accident_location,month,hour
55371,3,1,1,1,6,0,6,30,0,0,...,4,8,2,0,0,1,2,E01009451,01,16
55372,3,3,2,2,6,0,6,30,0,0,...,1,8,4,0,0,1,2,E01009068,01,09
55376,2,1,1,1,6,0,2,30,3,0,...,4,9,1,0,0,1,2,E01033639,01,03
55377,2,1,1,5,6,0,6,30,0,0,...,1,1,1,0,0,1,2,E01009341,01,08
55380,2,1,1,2,6,0,6,30,3,0,...,4,2,2,0,0,1,2,E01009175,01,17

In [142]:
# Find Missing Values
df_accident = df_accident.replace(-1, None)
df_accident.isna().sum()

accident_severity                           0
number_of_vehicles                          0
number_of_casualties                        0
day_of_week                                 0
first_road_class                            0
first_road_number                           0
road_type                                   0
speed_limit                                 0
junction_detail                             0
pedestrian_crossing_human_control          29
pedestrian_crossing_physical_facilities    27
light_conditions                            0
weather_conditions                          0
road_surface_conditions                    40
special_conditions_at_site                 10
carriageway_hazards                        10
urban_or_rural_area                         0
trunk_road_flag                             0
lsoa_of_accident_location                   0
month                                       0
hour                                        0
dtype: int64

In [143]:
# Delete Missing Values
df_accident.dropna(inplace=True)

In [144]:
# remove the duplicates
df_accident.drop_duplicates(inplace=True)

In [145]:
# Dummy Variable Encoding
# create 7 columns using pandas get_dummies function
day_cols = pd.get_dummies(df_accident["day_of_week"], prefix="day")

# merge the one-hot encoded dataframe with the original dataframe
df_accident = pd.concat([df_accident, day_cols], axis=1)

# drop the original 'Day_of_Week' column
df_accident.drop("day_of_week", axis=1, inplace=True)
df_accident.head()

,accident_severity,number_of_vehicles,number_of_casualties,first_road_class,first_road_number,road_type,speed_limit,junction_detail,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,...,lsoa_of_accident_location,month,hour,day_1,day_2,day_3,day_4,day_5,day_6,day_7
55371,3,1,1,6,0,6,30,0,0,1,...,E01009451,01,16,1,0,0,0,0,0,0
55372,3,3,2,6,0,6,30,0,0,0,...,E01009068,01,09,0,1,0,0,0,0,0
55376,2,1,1,6,0,2,30,3,0,0,...,E01033639,01,03,1,0,0,0,0,0,0
55377,2,1,1,6,0,6,30,0,0,0,...,E01009341,01,08,0,0,0,0,1,0,0
55380,2,1,1,6,0,6,30,3,0,0,...,E01009175,01,17,0,1,0,0,0,0,0

In [146]:
# Grouping Data By Location (LSOA) & Month
group_df = df_accident.groupby(["lsoa_of_accident_location", "month"])
print("Total Groups - ", len(group_df))

Total Groups -  4588

In [147]:
# Display First Group
df_first = pd.DataFrame
for group, data in group_df:
    print("First Group (Location, Month) - ", group)
    df_first = data
    break
df_first.head()

First Group (Location, Month) -  ('E01008881', '01')

,accident_severity,number_of_vehicles,number_of_casualties,first_road_class,first_road_number,road_type,speed_limit,junction_detail,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,...,lsoa_of_accident_location,month,hour,day_1,day_2,day_3,day_4,day_5,day_6,day_7
182827,3,2,2,6,0,6,30,0,0,1,...,E01008881,01,16,0,0,1,0,0,0,0
302732,2,1,1,6,0,6,30,0,0,4,...,E01008881,01,08,0,1,0,0,0,0,0
410190,2,2,1,3,4040,6,30,3,0,4,...,E01008881,01,18,0,0,0,0,0,0,1
410426,3,2,2,3,4040,1,30,1,0,4,...,E01008881,01,17,0,1,0,0,0,0,0
410621,2,1,1,6,0,6,30,0,0,4,...,E01008881,01,08,0,0,1,0,0,0,0

In [148]:
# Calculating the Sums of Vehicles & Casualties Columns
cols = ["number_of_vehicles", "number_of_casualties", "day_1", "day_2", "day_3", "day_4", "day_5", "day_6", "day_7"]
count = 0
for group, data in group_df:
    # Displaying First 2 Sums
    if count < 2:
        print("Group", (count + 1), "- ", group)
        print(data[cols].sum(), "\n")
        count += 1

Group 1 -  ('E01008881', '01')
number_of_vehicles      8
number_of_casualties    7
day_1                   0
day_2                   2
day_3                   2
day_4                   0
day_5                   0
day_6                   0
day_7                   1
dtype: int64

Group 2 -  ('E01008881', '02')
number_of_vehicles      5
number_of_casualties    3
day_1                   1
day_2                   1
day_3                   1
day_4                   0
day_5                   0
day_6                   0
day_7                   0
dtype: int64

In [149]:
# Calculating the Mode (Most Occurrence) Of Each Column
count = 0

# Displaying for First Group
df_mode = pd.DataFrame
for group, data in group_df:
    if count < 1:
        print("First Group - ", group)
        df_mode = data.mode(numeric_only=True, dropna=True).dropna()
        count += 1
df_mode.head()

First Group -  ('E01008881', '01')

,accident_severity,number_of_vehicles,number_of_casualties,first_road_class,first_road_number,road_type,speed_limit,junction_detail,light_conditions,weather_conditions,urban_or_rural_area,trunk_road_flag,day_1,day_2,day_3,day_4,day_5,day_6,day_7
0,2,2,1,6,0,6,30,0,1,1,1,2,0,0,0,0,0,0,0

In [150]:
# Creating the final Dataset with required columns
df_final = pd.DataFrame(columns=["no_of_accidents", "location", "month"] + df_mode.columns.tolist())
df_final.head()

Empty DataFrame
Columns: [no_of_accidents, location, month, accident_severity, number_of_vehicles, number_of_casualties, first_road_class, first_road_number, road_type, speed_limit, junction_detail, light_conditions, weather_conditions, urban_or_rural_area, trunk_road_flag, day_1, day_2, day_3, day_4, day_5, day_6, day_7]
Index: []

[0 rows x 22 columns]

In [ ]:
# Combining ModeDF & SumDF to Create Final Dataset
count = 0
for group, data in group_df:
    # Calculate Modes in Group
    df_mode = data.mode(numeric_only=True, dropna=True).dropna()

    # Add Location & Month Data
    df_mode["location"] = group[0]
    df_mode["month"] = group[1]

    # Calculate Sums (Vehicles & Casualties) in Group
    df_sum = DataFrame(data[cols].sum()).transpose()

    # Replace Vehicles Column (SumDF -> ModeDF)
    df_mode.number_of_vehicles = df_sum.number_of_vehicles

    # Replace Casualties Column (SumDF -> ModeDF)
    df_mode.number_of_casualties = df_sum.number_of_casualties

    # Replace Day1 - Day7 Columns (SumDF -> ModeDF)
    for day in day_cols:
        df_mode[day] = df_sum[day]

    # Append Updated ModeDF to FinalDF
    df_final = pd.concat([df_final, df_mode.iloc[:1]])
    df_final = df_final.reset_index(drop=True)

# Get Total Number of Accidents Per Month
df_final.no_of_accidents = df_final.day_1 + df_final.day_2 + df_final.day_3 + df_final.day_4 + df_final.day_5 + df_final.day_6 + df_final.day_7
df_final.shape

In [ ]:
# Dataset Sample
df_final.head()

In [ ]:
# Label Encoding

# Creating an Instance of Label Encoder.
le = LabelEncoder()

# Using .fit_transform to Fit Labels for Month & Location
label_month = le.fit_transform(df_final.month)
label_location = le.fit_transform(df_final.location)

# Printing Month Label
label_month

In [ ]:
# Replacing Location & Month Columns with the Encoded Versions
df_final.drop(["location", "month"], axis=1, inplace=True)

df_final["location"] = label_location
df_final["month"] = label_month

In [ ]:
# Final Dataset Sample
df_final.head(n=10)