In [25]:
# Import Packages
import pandas as pd

In [26]:
#Load Initial Dataset
df_accident=pd.read_csv('dft-road-casualty-statistics-accident-last-5-years.csv', low_memory=False)

In [27]:
#Display First 5 Rows
df_accident.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,...,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,...,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,...,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,...,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,...,5,4,1,2,0,0,1,1,2,E01001808

In [28]:
df_accident.shape

(562439, 36)

In [29]:
df_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562439 entries, 0 to 562438
Data columns (total 36 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   accident_index                               562439 non-null  object
 1   accident_year                                562439 non-null  int64
 2   accident_reference                           562439 non-null  object
 3   location_easting_osgr                        562306 non-null  float64
 4   location_northing_osgr                       562306 non-null  float64
 5   longitude                                    562296 non-null  float64
 6   latitude                                     562296 non-null  float64
 7   police_force                                 562439 non-null  int64
 8   accident_severity                            562439 non-null  int64
 9   number_of_vehicles                           562439 non-null  int64
 10  number_of_casualties                         562439 non-null  int64
 11  date                                         562439 non-null  object
 12  day_of_week                                  562439 non-null  int64
 13  time                                         562439 non-null  object
 14  local_authority_district                     562439 non-null  int64
 15  local_authority_ons_district                 562439 non-null  object
 16  local_authority_highway                      562439 non-null  object
 17  first_road_class                             562439 non-null  int64
 18  first_road_number                            562439 non-null  int64
 19  road_type                                    562439 non-null  int64
 20  speed_limit                                  562439 non-null  int64
 21  junction_detail                              562439 non-null  int64
 22  junction_control                             562439 non-null  int64
 23  second_road_class                            562439 non-null  int64
 24  second_road_number                           562439 non-null  int64
 25  pedestrian_crossing_human_control            562439 non-null  int64
 26  pedestrian_crossing_physical_facilities      562439 non-null  int64
 27  light_conditions                             562439 non-null  int64
 28  weather_conditions                           562439 non-null  int64
 29  road_surface_conditions                      562439 non-null  int64
 30  special_conditions_at_site                   562439 non-null  int64
 31  carriageway_hazards                          562439 non-null  int64
 32  urban_or_rural_area                          562439 non-null  int64
 33  did_police_officer_attend_scene_of_accident  562439 non-null  int64
 34  trunk_road_flag                              562439 non-null  int64
 35  lsoa_of_accident_location                    562439 non-null  object
dtypes: float64(4), int64(25), object(7)
memory usage: 154.5+ MB

In [30]:
df_accident.describe()

,accident_year,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,day_of_week,...,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag
count,562439.000000,562306.000000,5.623060e+05,562296.000000,562296.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,...,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000,562439.000000
mean,2018.841359,453092.344542,2.791175e+05,-1.239441,52.399317,27.988936,2.780095,1.841149,1.295324,4.113657,...,0.280077,1.111763,2.025557,1.650188,1.378297,0.223919,0.175210,1.324426,1.355663,1.687587
std,1.413635,94486.230396,1.504202e+05,1.384135,1.355003,24.704728,0.446690,0.704657,0.734110,1.929746,...,1.510484,2.349190,1.717887,1.824607,0.955681,1.260399,1.138232,0.468643,0.592823,0.841438
min,2017.000000,64084.000000,1.023500e+04,-7.525273,49.912362,1.000000,1.000000,1.000000,1.000000,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2018.000000,389237.000000,1.754600e+05,-2.161819,51.464992,4.000000,3.000000,1.000000,1.000000,2.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000
50%,2019.000000,459554.500000,2.191370e+05,-1.121003,51.858047,22.000000,3.000000,2.000000,1.000000,4.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000
75%,2020.000000,529434.750000,3.860650e+05,-0.134684,53.368628,45.000000,3.000000,2.000000,1.000000,6.000000,...,0.000000,0.000000,4.000000,1.000000,2.000000,0.000000,0.000000,2.000000,2.000000,2.000000
max,2021.000000,655391.000000,1.209512e+06,1.759641,60.763722,99.000000,3.000000,24.000000,59.000000,7.000000,...,9.000000,9.000000,7.000000,9.000000,9.000000,9.000000,9.000000,3.000000,3.000000,2.000000

In [31]:
# Limiting Data to Birmingham On
df_accident[(df_accident.local_authority_district == 300)]
df_accident.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,...,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,...,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,...,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,...,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,...,5,4,1,2,0,0,1,1,2,E01001808

In [32]:
# Deleting Unused Columns
df_accident.drop(["accident_index", "accident_reference", "accident_year", "police_force", "did_police_officer_attend_scene_of_accident"], axis=1, inplace=True)
df_accident.head()

,location_easting_osgr,location_northing_osgr,longitude,latitude,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,...,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,trunk_road_flag,lsoa_of_accident_location
0,532920.0,196330.0,-0.080107,51.650061,1,2,3,05/08/2017,7,03:12,...,0,0,4,1,1,0,0,1,2,E01001450
1,526790.0,181970.0,-0.173845,51.522425,3,2,1,01/01/2017,1,01:30,...,0,0,4,1,2,0,0,1,2,E01004702
2,535200.0,181260.0,-0.052969,51.514096,3,3,1,01/01/2017,1,00:30,...,0,0,4,1,1,0,0,1,2,E01004298
3,534340.0,193560.0,-0.060658,51.624832,3,2,1,01/01/2017,1,01:11,...,0,4,4,2,2,0,0,1,2,E01001429
4,533680.0,187820.0,-0.072372,51.573408,2,1,1,01/01/2017,1,01:42,...,0,5,4,1,2,0,0,1,2,E01001808

In [33]:
# Split Date Column into Day and Month
df_accident[["day", "month", "year"]] = df_accident["date"].apply(lambda x: pd.Series(str(x).split("/")))
df_accident.head()

,location_easting_osgr,location_northing_osgr,longitude,latitude,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,...,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,trunk_road_flag,lsoa_of_accident_location,day,month,year
0,532920.0,196330.0,-0.080107,51.650061,1,2,3,05/08/2017,7,03:12,...,1,1,0,0,1,2,E01001450,05,08,2017
1,526790.0,181970.0,-0.173845,51.522425,3,2,1,01/01/2017,1,01:30,...,1,2,0,0,1,2,E01004702,01,01,2017
2,535200.0,181260.0,-0.052969,51.514096,3,3,1,01/01/2017,1,00:30,...,1,1,0,0,1,2,E01004298,01,01,2017
3,534340.0,193560.0,-0.060658,51.624832,3,2,1,01/01/2017,1,01:11,...,2,2,0,0,1,2,E01001429,01,01,2017
4,533680.0,187820.0,-0.072372,51.573408,2,1,1,01/01/2017,1,01:42,...,1,2,0,0,1,2,E01001808,01,01,2017